body {
    direction: rtl;
    background-color: azure;
    margin-left: 50px;
    margin-right: 50px;
    
}

h1 {
    color: blue;
    font-style: italic;
    font-size: 50pt;
}

div {
    text-align: center;
}